In [245]:
import pandas as pd
import matplotlib.pyplot as plt
import csv
import re

In [246]:
df = pd.read_csv('./out-csv/manual.csv', encoding='unicode_escape', quoting=csv.QUOTE_NONE)

In [247]:
# tu = df[df['Day'] == 'we'][['5', '6']].map(lambda x: re.findall(r'[A-Za-z]-?[0-9]{1,3}', x))
remove_student_batch_info = lambda x: re.sub(r'((fa)|(FA)|(sp)|(SP))[0-9][0-9]', '', x)
remove_course_code = lambda x: re.sub(r'[A-Z]{3}[0-9]{3}', '', x)
map_to_rooms = lambda x: re.findall(r'[A-Za-z]-?[0-9]{1,3}', remove_course_code(remove_student_batch_info(x)))
tu = df.map(map_to_rooms)
classes = set()
for row in tu.iloc:
    for c in row:
        if c:
            classes |= set(c)

In [248]:
classes = {c.upper() for c in classes}
sorted_cls = sorted(list(classes), key=lambda x: (x[0], int(x[1:] if x[1] != '-' else x[2:])))
for sc in sorted_cls:
    print(sc)

A-2
A-3
A-5
A6
A-6
A-7
A-10
A-11
A-13
A-14
A-16
A-17
A20
A21
B-2
B-3
B-5
B-6
B-7
B-12
B-13
B-16
B-17
B650
B680
C-1
C-5
C-6
C-7
C-8
C-9
C-11
C-13
C-14
C-18
C-19
C101
C210
C211
C241
C441
C494
C604
D-2
D-3
D-5
D-6
D-8
D-9
D-10
D-11
D-12
D-13
D-14
D-101
D-103
D-106
D-107
D-109
D-110
D-111
D-112
D-113
D-114
D-115
D-117
D-118
D-119
G1
G2
G3
G4
G5
N-1
N-2
N-3
N-4
N-5
N-6
N-7
N-8
N-9
N-10
N-13
N-14
N-18
N-19
N-21
N-22
N-23
N-24
N-25
N-26
O-1
O4
O100
P-1
P22
S-1
S-2
S-3
S-4

In [249]:
all_classes = classes.copy()

In [250]:
def get_classes_on_day_and_slot(day, slot):
    df_ds = df[df['Day'] == day][[slot]].map(map_to_rooms)
    classes = set()
    for row in df_ds.iloc:
        for c in row:
            if c:
                classes |= set(c)
                classes = {c.upper() for c in classes}
    return classes

def sort_classes(classes):
    return sorted(list(classes), key=lambda x: (x[0], int(x[1:] if x[1] != '-' else x[2:])))

In [251]:
time_to_slot = {
    '8:30': '1',
    '9:00': '2',
    '9:30': '3',
    '10:00': '4',
    '10:30': '5',
    '11:00': '6',
    '11:30': '7',
    '12:00': '8',
    '12:30': '9',
    '13:00': '10',
    '13:30': '11',
    '14:00': '12',
    '14:30': '13',
    '15:00': '14',
    '15:30': '15',
    '16:00': '16',
    '16:30': '17',
    '17:00': '18',
    '17:30': '19',
    '19:00': '20',
    }

In [252]:
tu_10_30_slots = get_classes_on_day_and_slot('tu', time_to_slot['10:30'])
tu_11_00_slots = get_classes_on_day_and_slot('tu', time_to_slot['11:00'])

free_slots = all_classes.difference(tu_10_30_slots).difference(tu_11_00_slots)
sort_classes(free_slots)

['A-5',
 'A-6',
 'A-7',
 'A-10',
 'A-11',
 'A-16',
 'A20',
 'A21',
 'B-3',
 'B-7',
 'B-13',
 'B-16',
 'B650',
 'B680',
 'C210',
 'C211',
 'C241',
 'C441',
 'C494',
 'C604',
 'D-5',
 'D-10',
 'D-11',
 'D-12',
 'D-14',
 'D-103',
 'G1',
 'G2',
 'G3',
 'G4',
 'G5',
 'N-10',
 'N-13',
 'N-14',
 'O4',
 'O100',
 'P22',
 'S-1',
 'S-2',
 'S-3',
 'S-4']

In [253]:
for i in df[df['Day'] == 'tu'][time_to_slot['10:30']].map(lambda x: re.findall(r'[A-Za-z]-?[0-9]{1,3}', x)).iloc:
    if i and any(['D' in c for c in i]):
        print(i)

['A24', 'D-119']
['A23', 'D-118']
['E240', 'A23', 'D-109']
['P21', 'D-112']
['D-2', 'P23']
['M110', 'A24', 'D-114']
['P24', 'D-106']
['A24', 'D-107']
['D-101', 'P22']
['A23', 'D-115']
['D-13', 'A21', 'A21']
['P21', 'P21', 'P22', 'P22', 'A21', 'A21', 'D-111']
['A24', 'D-9']
['A23', 'D-6']
['A22', 'D-117']
['A22', 'D-113']
['A21', 'A21', 'P22', 'D-110']
['D-3', 'A23']
['A24', 'D-8']

In [254]:
for row in df.iloc:
    if 'CSC336' in row['6'] and 'SP23-BSE-C' in row['6']:
        print(row)

Day                    tu
1
2
3
4
5
6      CSC336  SP23-BSE-C
7      CSC336  SP23-BSE-C
8
9
10
11
12
13
14
15
16
17
18
19
20
Name: 546, dtype: object

In [255]:
"FA23-BSM-A", remove_student_batch_info("FA23-BSM-A"), remove_course_code("FA23-BSM-A"), remove_course_code(remove_student_batch_info("FA23-BSM-A")), re.findall(r'[A-Za-z]-?[0-9]{1,3}', remove_course_code(remove_student_batch_info("FA23-BSM-A")))

('FA23-BSM-A', '-BSM-A', 'FA23-BSM-A', '-BSM-A', [])